/*https://globalfonts.pro/font/titillium#google_vignette*/




/* latin-ext */
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  /*src: url(https://fonts.gstatic.com/s/dmsans/v11/rP2Hp2ywxg089UriCZ2IHSeH.woff2) format('woff2');*/
  src: url(../fonts/rP2Hp2ywxg089UriCZ2IHSeH.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  /*src: url(https://fonts.gstatic.com/s/dmsans/v11/rP2Hp2ywxg089UriCZOIHQ.woff2) format('woff2');*/
  src: url(../fonts/rP2Hp2ywxg089UriCZOIHQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  /*src: url(https://fonts.gstatic.com/s/dmsans/v11/rP2Cp2ywxg089UriAWCrCBamC2QX.woff2) format('woff2');*/
  src: url(../fonts/rP2Cp2ywxg089UriAWCrCBamC2QX.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  /*src: url(https://fonts.gstatic.com/s/dmsans/v11/rP2Cp2ywxg089UriAWCrCBimCw.woff2) format('woff2');*/
  src: url(../fonts/rP2Cp2ywxg089UriAWCrCBimCw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  /*src: url(https://fonts.gstatic.com/s/dmsans/v11/rP2Cp2ywxg089UriASitCBamC2QX.woff2) format('woff2');*/
  src: url(../fonts/rP2Cp2ywxg089UriASitCBamC2QX.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  /*src: url(https://fonts.gstatic.com/s/dmsans/v11/rP2Cp2ywxg089UriASitCBimCw.woff2) format('woff2');*/
  src: url(../fonts/rP2Cp2ywxg089UriASitCBimCw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}




@font-face {
  font-family: 'Titillium';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/Titillium-Regular.woff') format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Titillium';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/Titillium-RegularUpright.woff') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Titillium';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  /*src: url(https://fonts.gstatic.com/s/dmsans/v11/rP2Cp2ywxg089UriAWCrCBamC2QX.woff2) format('woff2');*/
  src: url('../fonts/Titillium-Semibold.woff') format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Titillium';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  /*src: url(https://fonts.gstatic.com/s/dmsans/v11/rP2Cp2ywxg089UriAWCrCBimCw.woff2) format('woff2');*/
  src: url('../fonts/Titillium-SemiboldUpright.woff') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Titillium';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  /*src: url(https://fonts.gstatic.com/s/dmsans/v11/rP2Cp2ywxg089UriASitCBamC2QX.woff2) format('woff2');*/
  src: url('../fonts/Titillium-BoldUpright.woff') format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Titillium';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  /*src: url(https://fonts.gstatic.com/s/dmsans/v11/rP2Cp2ywxg089UriASitCBimCw.woff2) format('woff2');*/
  src: url('../fonts/Titillium-BoldUpright.woff') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* #### Generated By: http://font.download #### */

    @font-face {
    font-family: 'Titillium Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Titillium Regular'), url('../fonts/Titillium-Regular.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Titillium Regular Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Titillium Regular Italic'), url('../fonts/Titillium-RegularItalic.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Titillium Regular Upright';
    font-style: normal;
    font-weight: normal;
    src: local('Titillium Regular Upright'), url('../fonts/Titillium-RegularUpright.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Titillium Thin';
    font-style: normal;
    font-weight: normal;
    src: local('Titillium Thin'), url('Titillium-Thin.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Titillium Thin Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Titillium Thin Italic'), url('Titillium-ThinItalic.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Titillium Thin Upright';
    font-style: normal;
    font-weight: normal;
    src: local('Titillium Thin Upright'), url('Titillium-ThinUpright.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Titillium Light';
    font-style: normal;
    font-weight: normal;
    src: local('Titillium Light'), url('Titillium-Light.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Titillium Light Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Titillium Light Italic'), url('Titillium-LightItalic.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Titillium Light Upright';
    font-style: normal;
    font-weight: normal;
    src: local('Titillium Light Upright'), url('Titillium-LightUpright.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Titillium Semibold';
    font-style: normal;
    font-weight: normal;
    src: local('Titillium Semibold'), url('Titillium-Semibold.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Titillium Semibold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Titillium Semibold Italic'), url('Titillium-SemiboldItalic.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Titillium Semibold Upright';
    font-style: normal;
    font-weight: normal;
    src: local('Titillium Semibold Upright'), url('Titillium-SemiboldUpright.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Titillium Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Titillium Bold'), url('Titillium-Bold.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Titillium Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Titillium Bold Italic'), url('Titillium-BoldItalic.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Titillium Bold Upright';
    font-style: normal;
    font-weight: normal;
    src: local('Titillium Bold Upright'), url('Titillium-BoldUpright.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Titillium';
    font-style: normal;
    font-weight: normal;
    src: local('Titillium'), url('Titillium-Black.woff') format('woff');
    }



@font-face {
  font-family: 'JetBrainsMono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/JetBrainsMono-Regular.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'JetBrainsMono';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('../fonts/JetBrainsMono-SemiBold.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'JetBrainsMono';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/JetBrainsMono-Bold.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}